html, body {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    color: #333;
    margin: 0;
    padding: 8px;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
    color: rgb(0, 100, 200);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: rgb(0, 80, 160);
}

label {
    display: block;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    -webkit-padding: 0.4em 0;
    padding: 0.4em;
    margin: 0 0 0.5em 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
}

input:disabled {
    color: #ccc;
}

button {
    color: #333;
    background-color: #f4f4f4;
    outline: none;
}

button:disabled {
    color: #999;
}

button:not(:disabled):active {
    background-color: #ddd;
}

button:focus {
    border-color: #666;
}

.switcher.svelte-1sdmflb{display:flex;align-items:center;height:30px;margin-top:8px;color:#2196F3}.switcher-item.svelte-1sdmflb{position:relative;cursor:pointer;text-decoration:none;display:inline-block;padding:6px 8px;font-size:14px;color:#262b3e;background-color:transparent;margin-right:8px;border:none;border-radius:4px;outline:none}.switcher-item.svelte-1sdmflb:hover{background-color:#f2f3f5}.switcher-item.active.svelte-1sdmflb{text-decoration:none;cursor:default;color:#262b3e}.switcher-item.active.svelte-1sdmflb,.switcher-item.active.svelte-1sdmflb:hover{background-color:#e1eff9}.input.svelte-1sdmflb{appearance:none;position:absolute;left:0;right:0;top:0;bottom:0;margin:0;padding:0;opacity:0}
.container.svelte-zj9v29{position:relative}.legend.svelte-zj9v29{position:absolute;color:white;left:12px;top:12px;z-index:1;font-size:12px;line-height:18px;font-weight:300}
.container.svelte-1c00sja{position:relative;font-family:'Trebuchet MS', Roboto, Ubuntu, sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.sma-legend.svelte-1c00sja{position:absolute;top:3px;left:3px;width:96px;height:70px;padding:8px;font-size:14px;background-color:rgba(255, 255, 255, 0.23);text-align:left;z-index:1000;pointer-events:none}
.container.svelte-1eoxtac{display:flex;width:100%;flex-wrap:wrap;justify-content:center;margin:0 -20px 0;padding-bottom:30px}.item.svelte-1eoxtac{position:relative;flex:none;margin:0 20px 0;z-index:0}.link.svelte-1eoxtac:link,.link.svelte-1eoxtac:visited{position:absolute;color:inherit;display:flex;font-size:2em;top:0.67em;right:0;height:34px;width:34px;border-radius:50%;padding:7px;align-items:center;justify-content:center;box-sizing:border-box}.link.svelte-1eoxtac:hover{background:#f2f3f5}
